# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test_main_code:
    runs-on: macos-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm test

  test_android:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
        api-level: [34]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Install dependencies
        run: |
          npm install
          npm install -g react-native-cli
          npm i react-native-gradle-plugin

      - name: Test Integration - Install dependencies
        working-directory: ./Samples/MixpanelExample
        run: yarn install

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: AVD cache
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}-google-apis-x86_64-nexus5x

      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        env:
          GRADLE_OPTS: -Xmx4096m -Dorg.gradle.daemon=false
          JAVA_OPTS: -Xmx4096m
        with:
          api-level: ${{ matrix.api-level }}
          target: google_apis
          arch: x86_64
          profile: Nexus 5X
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          working-directory: ./Samples/MixpanelExample
          script: echo "Generated AVD snapshot for caching."

      - name: Run Android Tests
        uses: reactivecircus/android-emulator-runner@v2
        env:
          GRADLE_OPTS: -Xmx4096m -Dorg.gradle.daemon=false
          JAVA_OPTS: -Xmx4096m
        with:
          api-level: ${{ matrix.api-level }}
          target: google_apis
          arch: x86_64
          profile: Nexus 5X
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          emulator-boot-timeout: 900
          working-directory: ./Samples/MixpanelExample
          script: |
            echo "org.gradle.jvmargs=-Xmx4096m -XX:MaxMetaspaceSize=1024m -XX:+HeapDumpOnOutOfMemoryError" >> android/gradle.properties
            echo "org.gradle.daemon=false" >> android/gradle.properties
            npx react-native run-android --no-packager

  test_ios:
    runs-on: macos-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm install -g react-native-cli
      - name: Test Integration - Install dependencies
        working-directory: ./Samples/MixpanelExample
        run: npm install
      - name: Setup iOS
        working-directory: ./Samples/MixpanelExample/ios
        run: pod install --repo-update
      - name: Test iOS
        working-directory: ./Samples/MixpanelExample
        run: react-native run-ios
